[Unit]
Description="generates data from msr on port 3230"

[Service]
ExecStart = npx ts-node ./src/msr_server.ts

[Install]
WantedBy=multi-user.target